#language-selector {
	position: fixed;
	left: 0.6rem;
	bottom: 1.1rem;

	@include respond-to-width(1024px) {
		top: 1.6rem;
		right: 0.9rem;
		bottom: initial;
		left: initial;
	}
}

.croatian,
.english {
	display: block;
	width: 2.9rem;
	height: 2.9rem;

	@include respond-to-width(1024px) {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.croatian {
	background: url(../img/croatian.ico) no-repeat center center/cover;
}

.english {
	background: url(../img/english.ico) no-repeat center center/cover;
}

.croatian:hover,
.english:hover,
#language-selector a:focus > .croatian,
#language-selector a:focus > .english {
	@include pop-out-2;
}
