.scrollButton {
	@include round-button;
	border: none;
	display: none;
	box-shadow: $box-shadow-2;
	position: fixed;
	right: 0.8rem;
	bottom: 5rem;
	background-color: $header-bg;
	color: $h1-color;

	&:hover,
	&:focus {
		@include pop-out-2;
	}

	@include respond-to-width(1024px) {
		right: 0.8rem;
		bottom: 8.5rem;
		left: initial;
		cursor: pointer;
	}
}

.icon-arrow-up2 {
	@include flex-center;
	padding: 0rem 0 0 0.1rem;
	font-size: 1.6rem;

	&::before {
		content: '\ea3a';
	}
}
