#sharing-links {
	z-index: 1;
	position: fixed;
	bottom: 5rem;
	left: 0.8rem;
	@include flex-layout(column, nowrap);

	@include respond-to-width(1024px) {
		left: initial;
		right: 0.8rem;
		bottom: 1rem;
		cursor: pointer;
	}
}

.bg-facebook,
.bg-whatsapp {
	@include round-button;
	@include flex-center;
}

.bg-facebook {
	margin-bottom: 0.7rem;
	background: $facebook-bg;
}

.bg-whatsapp {
	background: $whatsapp-bg;
}

.bg-facebook:hover,
.bg-whatsapp:hover,
#sharing-links a:focus {
	@include pop-out-2;
}

.fi-xwlux2-facebook-circle {
	margin-bottom: 0.2rem;
}
