// Share buttons
#sharing-links {
	z-index: 1;
	position: fixed;
	bottom: 5rem;
	left: 0.8rem;
	@include flex-layout(column, nowrap);

	@include respond-to-width(1024px) {
		left: initial;
		right: 0.8rem;
		bottom: 1rem;
		cursor: pointer;
	}
}

.toggle,
.icon-share2,
#sharing-links .icon-x,
.facebook,
.whatsapp {
	@include round-button;
	@include flex-center;
	box-shadow: $box-shadow-2;
}

#sharing-links .icon-x,
.facebook,
.whatsapp {
	padding-left: 0.1rem;
}

.toggle,
.icon-share2 {
	background: $header-bg;
}

.facebook {
	background: $facebook-bg;
}

.whatsapp {
	background: $whatsapp-bg;
}

.bg-facebook:hover,
.bg-whatsapp:hover,
#sharing-links a:focus {
	@include pop-out-2;
}

.icon-facebook:before {
	content: '\ea90';
}

.icon-whatsapp:before {
	content: '\ea93';
}

.icon-share2:before {
	content: '\ea82';
}

.icon-share2 {
	font-size: 1.4rem;
}

.icon-facebook,
.icon-whatsapp {
	font-size: 1.6rem;
}

.icon-facebook {
	margin-top: 0.3rem;
}

.sharing-link,
.sharing-link.open {
	opacity: 1;
	position: relative;
	border: none;
	border-radius: 50%;
	overflow: hidden;
	width: 3rem;
	height: 3rem;
	transition: all 200ms;

	@include respond-to-width(1024px) {
		cursor: pointer;

		&:hover,
		&:focus {
			@include pop-out-2;
		}
	}

	&.open:not(:last-of-type) {
		margin: 0.8rem 0;
	}
}

.facebook,
.whatsapp {
	opacity: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	margin: 0;

	@include respond-to-width(1024px) {
		opacity: 1;
		overflow: initial;
		width: 2.5rem;
		height: 2.5rem;
		margin-top: 0.7rem;
	}
}

.toggle,
.toggle .icon-x {
	display: none;
}

.toggle {
	margin: 0;
	padding: 0;

	&.open .icon-x {
		display: initial;
		transform: rotate(0) scale(1);
	}

	&.open .icon-share2 {
		display: none;
		transform: rotate(90deg) scale(0);
	}

	&.facebook {
		transition-delay: 50ms;
	}

	&.whatsapp {
		transition-delay: 0ms;
	}
}
