#sharing-links {
	z-index: 1;
	position: fixed;
	bottom: 5rem;
	left: 0.8rem;
	@include flex-layout(column, nowrap);

	& .hidden-visually {
		@include hidden-visually;
	}

	@include respond-to-width(1024px) {
		left: initial;
		right: 0.8rem;
		bottom: 1rem;
		cursor: pointer;
	}
}

.bg-facebook,
.bg-whatsapp {
	@include round-button;
}

.bg-facebook {
	margin-bottom: 1.25rem;
	background: $facebook-bg;
}

.fa-facebook {
	padding-top: 0.8rem;
	font-size: 1.5rem;

	@include respond-to-width(1024px) {
		padding-top: 0.6rem;
	}
}

.bg-whatsapp {
	background: $whatsapp-bg;
}

.fa-whatsapp {
	padding-top: 0.7rem;
	padding-left: 0.05rem;
	font-size: 1.7rem;

	@include respond-to-width(1024px) {
		padding-top: 0.43rem;
	}
}

.bg-facebook:hover,
.bg-whatsapp:hover,
#sharing-links a:focus {
	@include pop-out-2;
}
